In [1]:
import numpy as np
import pandas as pd

In [4]:
centers = pd.read_csv('data/data_centers/data_centers.csv')
timelines = pd.read_csv('data/data_centers/data_center_timelines.csv')

In [3]:
centers.head()

,Handle,Title,Project,Sentinel satellite timelapse,Address,Latitude,Longitude,Owner,Users,Investors,Construction companies,Energy companies,Current H100 equivalents,Current power (MW),Current total capital cost (2025 USD billions)
0,Amazon Canton Mississippi,Amazon Madison Mega Site,Project Rainier #speculative,"[{'id': 'atteIsn2EcnSUJMCI', 'width': 512, 'he...","Amazon Data Services Inc, Madison Mega Site Ni...","32°35'25""N","90°05'35""W",Amazon #confident,Anthropic #speculative,NaN,NaN,NaN,214348.143546,341,10.894284
1,Amazon Ridgeland Mississippi,Amazon Ridgeland,Project Rainier #speculative,"[{'id': 'attYoPvBtA5CoXEUh', 'width': 512, 'he...","1626 County Line Road Ridgeland, Mississippi","32°24'00""N","90°12'12""W",Amazon #confident,Anthropic #speculative,NaN,NaN,Entergy,0.000000,0,0.000000
2,Anthropic-Amazon Project Rainier New Carlisle ...,Anthropic-Amazon New Carlisle,Project Rainier #confident,"[{'id': 'attzRv49wzPJAeNy2', 'width': 512, 'he...","55001 Larrison Blvd, New Carlisle, IN 46552","41°41'36""N","86°27'39""W",Amazon #confident,Anthropic #confident,NaN,NaN,NaN,471565.915800,751,23.967424
3,Crusoe Goodnight Texas,Goodnight,NaN,"[{'id': 'atttrH9i0Se5OmaYM', 'width': 512, 'he...","10001 Lima Rd, Claude, TX 79019","35°01'01""N","101°18'43""W",NaN,Google #speculative,NaN,"Crusoe,Hoffman",Serena,0.000000,0,0.000000
4,Google New Albany Ohio,Google New Albany,NaN,NaN,"1101 Beech Rd SW, New Albany, OH 43054","40°03'40""N","82°45'51""W",Google Cloud #confident,Google DeepMind #likely,NaN,NaN,NaN,211260.649053,543,29.122351

In [5]:
timelines.head()

,Date,Data center,Construction status,Power (MW),H100 equivalents,Buildings operational,Total capital cost (2025 USD billions),Compute cost (2025 USD billions),Construction cost (2025 USD billions),Building area (square feet),Site area (square feet),Water use (MGD),Performance (8-bit OP/s)
0,2023-10-02,Amazon Canton Mississippi,Land clearing begins,0.0,0.000000,0,0.000000,0.000000,0.000000,NaN,NaN,NaN,0
1,2025-03-11,Amazon Canton Mississippi,Generators and chillers still being installed ...,0.0,0.000000,0,0.000000,0.000000,0.000000,NaN,NaN,NaN,0
2,2025-06-23,Amazon Canton Mississippi,"Buildings 1-5 are operational, based on roofs ...",341.0,214348.143546,5,10.894284,7.401959,3.492325,NaN,NaN,NaN,424194976076555000000
3,2025-10-04,Amazon Canton Mississippi,Confirmation that five buildings are fully equ...,341.0,214348.143546,5,10.894284,7.401959,3.492325,NaN,NaN,NaN,424194976076555000000
4,2026-09-18,Amazon Canton Mississippi,Buildings 1-12 are operational. The outline of...,819.0,514435.544509,12,26.146281,17.764702,8.381579,NaN,NaN,NaN,1.01806794258373e+21